.radio {
  color: #1f2d3d;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  + .radio {
    margin-left: 15px;
  }
}

.radio__input {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;
  &.is-focus .radio__inner {
    border-color: #20a0ff;
  }
  &.is-checked .radio__inner {
    border-color: #20a0ff;
    background: #20a0ff;
    &:after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  &.is-disabled {
    .radio__inner {
      background-color: #eef1f6;
      border-color: #d1dbe5;
      cursor: not-allowed;
      &:after {
        cursor: not-allowed;
        background-color: #eef1f6;
      }
      + .radio__label {
        cursor: not-allowed;
      }
    }
    &.is-checked .radio__inner {
      background-color: #d1dbe5;
      border-color: #d1dbe5;
      &:after {
        background-color: #fff;
      }
    }
    + .radio__label {
      color: #bbb;
      cursor: not-allowed;
    }
  }
}

.radio__inner {
  border: 1px solid #bfcbd9;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  &:hover {
    border-color: #20a0ff;
  }
  &:after {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6);
  }
}

.radio__original {
  opacity: 0;
  outline: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.radio__label {
  font-size: 14px;
  padding-left: 5px;
}

.radio-group {
  display: inline-block;
  font-size: 0;
  line-height: 1;
  vertical-align: middle;
  .radio {
    font-size: 14px;
  }
}

.radio-button {
  position: relative;
  display: inline-block;
  &:first-child .radio-button__inner {
    border-left: 1px solid #bfcbd9;
    border-radius: 4px 0 0 4px;
    box-shadow: none !important;
  }
  &:last-child .radio-button__inner {
    border-radius: 0 4px 4px 0;
  }
}

.radio-button__inner {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #bfcbd9;
  border-left: 0;
  color: #1f2d3d;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  position: relative;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 0;
  &:hover {
    color: #20a0ff;
  }
  [class*=icon-] {
    line-height: 0.9;
    + span {
      margin-left: 5px;
    }
  }
}

.radio-button__orig-radio {
  opacity: 0;
  outline: none;
  position: absolute;
  z-index: -1;
  left: -999px;
  &:checked + .radio-button__inner {
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    box-shadow: -1px 0 0 0 #20a0ff;
  }
  &:disabled + .radio-button__inner {
    color: #bfcbd9;
    cursor: not-allowed;
    background-image: none;
    background-color: #eef1f6;
    border-color: #d1dbe5;
    box-shadow: none;
  }
}

.radio-button--large .radio-button__inner {
  padding: 11px 19px;
  font-size: 16px;
  border-radius: 0;
}

.radio-button--small .radio-button__inner {
  padding: 7px 9px;
  font-size: 12px;
  border-radius: 0;
}

.radio-button--mini .radio-button__inner {
  padding: 4px;
  font-size: 12px;
  border-radius: 0;
}
