.ripple {
  border-radius: inherit;
  bottom: 0;
  display: block;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-mask-image: -webkit-radial-gradient(circle, #fff, #000);
}

.ripple__ink {
  background-clip: padding-box;
  background-color: currentColor;
  border-radius: 50%;
  height: 0;
  opacity: .2;
  pointer-events: none;
  position: absolute;
  transform: scale(0);
  transition: transform .6s ease-out,opacity .6s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0;
  &.is-held {
    opacity: .4;
    transform: scale(1);
  }
  &.is-done {
    opacity: 0 !important;
  }
}
